{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itcity - о нас</title>
    <link type="text/css" href="{% static 'mainapp/css/programs.css' %}" rel = "stylesheet" />
</head>

<body>

    <div class="wrapper">  
        <header class="container">
            <nav>
                <ul>
                    <li class ="btn"><a href="{% url 'home' %}>Главная</a></li>
                    <li class ="btn"><a href="{% url 'about' %}">О нас</a></li>
                    <li class="btn"><a href="/Events.html">События</a></li>
                    <li class="btn"><a href="/News.html">Новости</a></li>
                    <li class="btn"><a href="/Blog.html">Блог</a></li>
                    <li class="btn"><a href="/Franch.html">Франшиза </a></li>
                    <li class="btn"><a href="/Contacts.html">Контакты</a></li>
                    <li class="btn"><a href="#">Войти</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <main class="Itcity">
        <div class="hero-wrapper">
            <div class="hero container">
                <div class="hero--block">
                    <div class="hero--info">
                        <h2>Академия</h2>
                        <h1>Развития Интелекта</h1>
                        <p>Присоединяйтесь! Пробный урок - Бесплатно</p>   
                        <button class="btn">ЗАПИСАТЬСЯ</button>    
                    </div>
                </div>
            </div>   
        </div>
        <div class="wrapper-btn">
            <h3>Программы</h3>
            <div class="container-btn">
                <button class="btns btn-1">АНГЛИЙСКИЙ ЯЗЫК </button>
                <button class="btns btn-2">МАТЕМАТИКА</button>
                <button class="btns btn-3">МЕНТАЛЬНАЯ АРИФМЕТИКА</button>
                <button class="btns btn-4">СКОРОЧТЕНИЕ</button>
                <button class="btns btn-5">ПРОГРАММИРОВАНИЕ</button>
                <button class="btns btn-6">РАЗВИТИЕ ПАМЯТИ</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="blocks container">
            <div>
                <span class="logo">Logo</span>
                <p> Все права на товарный знак защищены. 
                    Копирование материалов без согласия авторов проекта запрещено ИП Васильева Татьяна Игоревна ИНН 860324040540
                    ОГРН 312860329300037</p>
            </div>
            <div>  
                <h4> 8 922 795 06 40</h4>
                <ul>
                    <li>Онлайн</li>
                    <li>Академия</li>
                    <li>Робототехника</li>
                    <li>Летний лагерь</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Договр оферты</li>
                    <li>Политика конфиденциальности</li>
                    <li>Государственная лицензия</li>
                </ul>
            </div>
        </div>
        <hr>
        <p>Сайт разработан ITCLAN - Digital Agency</p>
    </footer>
</body>

</html>