@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    background: #ABD7FF;
}


header {
    padding: 5px;
    margin: 10px ;
}

header nav{
    background: #fff;
    float: right;
    width: 100%;
    height: 70px;
    border-radius: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    z-index: 2;
    position: relative;
}

header nav ul li{
    display: inline-block;
    border-radius: 20px;
    margin: auto;
    width: 216px;
    height: 54px;
}

header nav ul li a{
    color: #ffffff;

}
header nav ul li.btn a {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    height: 30px;
    background: #2998FF;
    margin-top: 10px;
    text-align: center;
    padding: 9px ;
    border-radius:20px ;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover{
    cursor: pointer;
    background: #1b64a7;
    transform: scale(1.1);
}
/*Второй блок*/
.hero-wrapper{
    margin-top:100px ;
    width: 100%;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--block{
    background: #fff;
    float: right;
    width: 100%;
    margin-top: 20px;
    height: 400px;
    border-radius: 20px;
    
}

.hero--info{
    width: 530px;
    padding-left: 100px;
    padding-top: 30px;
}

.hero--info h2{
    color:  #2998FF;
    font-size: 54px;
    font-weight: 400;
}

.hero--info h1{
    color:  #2998FF;
    font-size: 50px;
    font-weight: 700;
}

.hero--info p{
    color:  #2998FF;
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn{
    background: #2998FF;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #1b64a7;
}

/*Программы*/

main.Itcity .flex {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main.Itcity .courses-block {
    width: 500px;
    height: 400px;
    text-align: left;
    background-color:#fff;
    filter: drop-shadow(0px 31px 52px rgba(0, 0, 0, 0.13));
    border-radius: 26px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 30px;
}

main.Itcity .courses-block .wrapper {
    background: #fff;
    padding-left: 10%;
    padding-top: 20px;
    width: 50%;
    height: 80%;
}

main.Itcity .courses-block .button-wrapper {
    padding-left: 10%;
}


main.Itcity .courses-block h4 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 100%;
}

main.Itcity #programs .flex {
    margin-bottom: 55px;
}

main.Itcity #offline.courses-block {
    background-position-y: center;
}

main.Itcity #online.courses-block {
    background-position-y: center;
}


main.Itcity #ourclass.courses-block {
    background-position-y: bottom;
}


main.Itcity #tutoring.courses-block {
    background-position-y: bottom;
    background-size: 85%;
}

.programs-wrapper{
    background: #fff;
    width: 100%;
    height: 1000px;
}

main.Itcity h3{
    text-align: center;
    color: #2998FF;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.069em;
    text-align: center;
    line-height: 120%;
}

main.Itcity .button {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: 0;
    background: #FD169F;
    border-radius: 10px;
}

main.Itcity .button:hover {
    background: #b61c6e;
}

main.Itcity #programs .button {
    width: 212px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.Itcity .button:disabled, main.amakids .button:disabled:hover {
    background: #E0E0E0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

